*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 550px;
    width: 345px;
    border: 5px solid orange;
    background-color: black;
    border-radius: 30px;
    overflow: hidden;
    
    
}
.num{
    font-size: 40px;
    width: 70px;
    height: 70px;
    margin: 6px; 
    border: 1px solid;
    border-radius: 50%;
}
.answer{
    width: 100%;
    height: 100px;
    background-color: #808080;
    font-size: 40px;
   border-radius: 10px;
}
.num1{
    background-color: orange;
}