*{
    padding: 0px;
    margin: 0px;
    
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.container{
    border: 1px solid black;
    width: 600px;
    background-color: lightgrey;
    height: 500px;
    display: flex;
    flex-direction: column;
     
    align-items: center;
}
.displaly{
    
    width: 95%;
    border: 1px solid;
    height: 100px;
}
.buuton{
    height: 380px;
    background-color: black;
    color: white;
    width: 95%;
    margin-top: 5px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    
}
.but{
    width: 100%;
    height: 70px;
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.num{
    height: 40px;
    border: 1px solid;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
}
button{
    font-size: 30px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#tarea{
    height: 100%;
    width: 100%;
    font-size: 40px;
    background-color: gray;
    color: white;
}